DEVELOPMENT_MODE= # PRODUCTION or DEVELOPMENT

# DJANGO CORE SETTINGS
SECRET_KEY=
ALLOWED_HOSTS=* # домены через пробел
CSRF_TRUSTED_ORIGINS=http://localhost # домены через пробел

# DATABASE SETTINGS

# POSTGRES
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# CONSTANTS
CHAT_MESSAGE_FILE_MAX_SIZE=20 # Максимальный размер файла в мегабайтах
CHAT_MESSAGE_ALLOWED_FILE_EXTENSIONS=xls,xlsx,doc,docx,pdf,jpg,png,pptx,mp4,avi,3gpp


LOG_FILES_PATH= # Путь к папке с логами

# KEYCLOAK SETTINGS
KEYCLOAK_SERVER_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_REALM_NAME=
KEYCLOAK_CLIENT_SECRET_KEY=


KEYCLOAK_CLIENT_ROLE= # Роль клиента в keycloak по умолчанию chat_user
KEYCLOAK_CURATOR_ROLE= # Роль куратора в keycloak по умолчанию chat_manager


